/target/
/.idea/
.classpath
.project
.settings/
target/
.gradle/
.gradle\
build/


# IntelliJ IDEA / Eclipse
.idea/
*.iml

# Java class files
*.class

# Binary or lock files
*.lock
*.bin
*.jar
*.probe

# VS Code (optional)
.vscode/

# OS / editor temp files
.DS_Store
Thumbs.db
*.log
*.lock
/.gradle
